@page
@model IndexModel

<h2>Ürünler</h2>

<a asp-page="Create">+ Yeni Ürün</a>

<table>
    <thead>
        <tr>
            <th>Resim</th>
            <th>Ad</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="@item.ImagePath" width="80" />
                    }
                </td>
                <td>@item.Name</td>
                <td>@item.Price ₺</td>
            </tr>
        }
    </tbody>
</table>